/* Main content styling */
body {
    background-color: #F0F0F0;
    color: black;
}

/* Side navbar styling */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: white
}

#sidebar-wrapper .list-group {
    width: 13rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}

/* Dynamic content styling */
.dynamic-content {
    display: none;
}

/* Paper recommender system styling */
#paper-recommender-system .search-bar-heading h1 {
    color: #404040;
    font-weight: lighter;
}

#paper-recommender-system .outside-border {
    border-color: aqua !important;
}

#paper-recommender-system #paper-recommender-system-search-bar-dropdown-button {
    border-radius: 0%;
}

#paper-recommender-system .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

@media screen and (min-width: 768px) {
    #paper-recommender-system .dropdown.dropdown-lg {
        position: static !important;
    }
    #paper-recommender-system .dropdown.dropdown-lg .dropdown-menu {
        min-width: 400px;
    }
}

#paper-recommender-system .slidecontainer {
    width: 100%;
  }
  
#paper-recommender-system .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
#paper-recommender-system .slider:hover {
    opacity: 1;
}
  
#paper-recommender-system .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}
  
#paper-recommender-system .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#paper-recommender-system #paper-recommender-system-search-query {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#paper-recommender-system #container {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#label {
    color: white;
}

#paper-recommender-system #paper-recommender-system-result th {
    color: black;
    font-weight: bold;
    text-align: left;
    background-color: #e9ecef;
}

#paper-recommender-system #paper-recommender-system-result td {
    color: black;
    text-align: left;
    }

/** Q A System styling **/

/* Paper recommender system styling */
#q-a-system .search-bar-heading h1 {
    color: #404040;;
    font-weight: lighter;
}

#q-a-system .outside-border {
    border-color: white !important;
}

#q-a-system #q-a-system-search-bar-dropdown-button {
    border-radius: 0%;
}

#q-a-system .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

@media screen and (min-width: 768px) {
    #q-a-system .dropdown.dropdown-lg {
        position: static !important;
    }
    #q-a-system .dropdown.dropdown-lg .dropdown-menu {
        min-width: 400px;
    }
}

#q-a-system .slidecontainer {
    width: 100%;
}

#q-a-system .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#q-a-system .slider:hover {
    opacity: 1;
}

#q-a-system .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#q-a-system .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#q-a-system #q-a-system-search-query {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

}

#q-a-system #container {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#q-a-system #q-a-system-result th {
    color: black;
    font-weight: bold;
    text-align: left;
    background-color: #e9ecef;
}

#q-a-system #q-a-system-result td {
    color: black;
    text-align: left;
}

/** Knowledge Graph System Styling **/
/* Paper recommender system styling */
#knowledge-graph-system .search-bar-heading h1 {
    color: #404040;;
    font-weight: lighter;
}

.node {}

.link { stroke: #999; stroke-opacity: .8; stroke-width: 1px; }